extends layout

block content
    form(action='', method='post')
        div
            label Ваш логин:
            input(name='username', type='text')
        div
            label Ваш логин:
            input(name='password', type='password')
        div
            label Ваш логин:
            input(type='submit')


